.header{
    width: 1260px;
    border-bottom: 1px solid #E0DFDE;
    margin: 0 auto;
}

.header__inner{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logo{
    color: #8B7969;
    text-align: center;
    font-weight: bold;   
}



