.contact-form__content{
    margin: 0 auto;
}

.contact-form__heading{
    color: #8B7969;
    text-align:center;
    margin-bottom: 40px;
}

.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.form__group {
    display: flex;
    padding: 15px 30px;
    justify-content: space-between;
}

.form__label--item{
    color: #8B7969;
    font-weight: bold;
}

.form__label--required{
    color: red;
    margin-left: 5px;
}

.form__error {
    display: inline;
    color: red;
    font-size: 13px;
    text-align: left;
}

input::placeholder,
textarea::placeholder {
    color: gray;
    opacity: 0.8;
    font-size: 12px;
}

.form__input--text{
    width: 500px;
    margin-left: -50px;
}

.form__input--text input{
    padding-left: 20px;
    height: 30px;
    background: #e8e0db99;
    border:none;
}


.form__button{
    justify-content: center;
}

.form__button-submit{
    color:white;    
    background-color: #82756A;
    border:none;
    padding: 10px 40px;
    cursor: pointer;
    margin-bottom: 20px;
}

.select-wrapper{
    position: relative;
}

.select-wrapper::after {
    content: "▼";
    color: rgb(158, 156, 156);
    opacity: 0.8;
    position: absolute;
    margin-left: -25px;
    top: 3px;
    pointer-events: none;
}

select{
    appearance: none;
    background: #e8e0db99;
    border: none;
    height: 30px;
    color: gray;
    font-size: 12px;
    padding-left: 20px;
}


.radio-button__label {
    padding-left: 20px;
    cursor: pointer;
    color: #8B7969;
    position: relative;
}



